body
{
    margin: 1em;
    background-color: white;
    font-family: "Times New Roman", serif;
    font-size: 12pt;
    color: black;
}

#site-logo
{
    background: url(/images/generic-logo-beta.png) no-repeat;
    border: 0;
    padding: 0;
    margin-bottom: 0.2em;
}

/* Stole this hack from the standard Plone stylesheet */
#site-logo a
{
    display: block;
    text-decoration: none;
    overflow: hidden;
    border: 0;
    margin: 0;
    padding: 0;
    padding-top: 94px;
    height: 0px !important;
    height /**/: 94px;
    width: 520px;
    cursor: pointer;
}    

#today
{
    float: right;
}

ul#site-actions
{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 10em;
    white-space: nowrap;
}

ul#site-actions li
{
    display: inline;
}

ul#site-actions li a
{
    background-color: transparent;
    padding: 0em 1em 0em 1em;
    margin: 0;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

ul#site-actions li a:hover
{
    background-color: #00009D;
    color: white;
}

div#sidebar
{
    clear: both;
    float: left;
    width: 9em;
    padding-right: 1em; /* update left margin of content accordingly */
}

#time-period-selection
{
    margin-top: 0.5em;
    font-size: 90%;
    float: right;
}

#time-period-links
{
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline;
}

#time-period-links li
{
    display: inline;
}

#time-period-links li:after
{
    content: ' *';
}

#time-period-selection a
{
    color: black;
    text-decoration: underline;
}

#time-period-selection a:hover
{
    text-decoration: none;
}

#time-period-advanced
{
    display: none;
}

#content
{
    margin-left: 10em; /* should be the width of the sidebar */
    padding-left: 1em;
    border-left: 1px solid black;
}

.unvisibleclear
{
    clear: both;
    visibility: hidden; /* this will render the space empty */
    margin-top: -1em; /* this will get rid of the empty space */
}

/*************** INPUT FORMS ***************/
.input
{   
    font-family: sans-serif;
    margin-top: 1em;
    margin-bottom: 1em;
}

input
{
    border: 1px solid black;
    background-color: #eeeeee;
    font-size: 12px;
    padding: 2px;
    color: black;
}

select {
    border: 1px solid black;  
    color: black;
    font-size: 12px;
    background-color: #eeeeee;
    vertical-align: top;
}

textarea {
    border: 1px solid black;
    background-color: #eeeeee;
    font-size: 12px;
    padding: 2px;
    color: black;
    width: 40em;
}

input:focus, select:focus, textarea:focus {
    background-color: #00009D;
    color: white;
}

.input .description
{
    margin: 0.2em 0 0.3em 0;
    font-size: 65%;
    color: #dddddd;
}

div.input:hover > div.description
{
    color: #00009D;
}

.input label
{
    font-size: 90%;
    display: block;
    font-weight: bold;
}

/************************ SELECTORS *******************/

span.selector
{
    float: left;
    width: 20em;
    margin: 0;
    border-right: 1px solid black;
}

div.selector
{
    height: 20em;
    overflow: hidden;
    margin: 0em 1em 1em 1em;
    padding: 0;
}

.selector * h3
{
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-size: 100%;
    margin-top: 0;
    border-top: 3px solid black;
    border-bottom: 1px solid black;
    text-align: center;
}

.selector ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.selector li
{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

span.selector div.title-read-more
{
    display: none;
}

span.selector#headlines
{
    width: 100%;
    margin-bottom: 1em;
    border: none;
}

span.selector#headlines div.selector
{
    height: auto;
    overflow: visible;
}

span.selector#headlines div.time,
span.selector#headlines div.description
{
    display: none;
}
span.selector#headlines div.title a
{
    color: black;
    font-size: 130%;
    font-weight: bold;
    text-decoration: none;
}

span.selector#headlines div.title,
span.selector#headlines div.title-read-more
{
    display: inline;
}

span.selector#headlines div.title a:hover
{
    text-decoration: underline;
}

span.selector#headlines div.title-read-more a
{
    color: black;
    font-size: 70%;
    text-decoration: underline;
}

span.selector#computer_science_society div.selector
{
    height: 40em;
}

.ban_notice
{
    background-color: #FFDD62;
    border: 2px red solid;
    margin: 1em;
    padding: 0.5em;
}

.group_listing,
.user_listing,
.event_listing
{
    background-color: transparent;
    border: 2px transparent solid;
    padding: 0.5em;
    margin-top: 1em;
}

.group_listing h2,
.user_listing h2,
.event_listing h2
{
    margin-top: 0;
}

#not_approved_groups
{
    background-color: #FFDD62;
    border: 2px red solid;
}

#not_authorized_users
{
    background-color: #FFDD62;
    border: 2px red solid;
}

#bug_box
{
    background-color: #FFDD62;
    border: 2px red solid;
    padding: 0.2em;
    margin-bottom: 1em;
}

#bug_box big
{
    font-weight: bold;
}

ul.period_links
{
    list-style: none;
    margin: 0;
    padding: 0;
}

img.date_select
{
    vertical-align: middle;
    margin-bottom: 3px;
}

#period_display
{
    font-size: 70%;
    margin: 0;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}
