/* IE does not support CSS2 selectors and this file fixes this. */
div.selector div.selector_name
{
    height: 2.5em;
    margin: 0;
    padding: 0;
}

div.selector h3
{
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-size: 100%;
    margin-top: 0;
    border-top: 3px solid black;
    border-bottom: 1px solid black;
    text-align: center;
}

div.selector#all_announcements div.selector_content
{
    height: auto;
    overflow: visible;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.event_information h2
{
    margin-bottom: 0.2em;
}

.event_information div.last_update
{
    font-size: 80%;
    font-style: italic;
}

div.ninja{
    height: 175px;
}
