body
{
    margin: 1em;
    background-image: url(/images/background.png);
    background-color: white;
    font-family: "Times New Roman", serif;
    font-size: 10pt;
    color: black;
}

a
{
    /* font-weight: bold; */
    text-decoration: none;
    color: blue;
}

.description p
{
    display: inline;
}
a:hover
{
    text-decoration: underline;
}

a img
{
    border: none;
}

#site_logo
{
    background: url(/images/generic-logo.png) no-repeat;
    border: 0;
    padding: 0;
    margin-bottom: 0.2em;
}

/* Stole this hack from the standard Plone stylesheet */
#site_logo a
{
    display: block;
    text-decoration: none;
    overflow: hidden;
    border: 0;
    margin: 0;
    padding: 0;
    padding-top: 79px;
    height: 0px !important;
    height /**/: 79px;
    width: 520px;
    cursor: pointer;
}    

#today
{
    float: right;
}

#partners
{
    margin-top: 1.5em;
    float: right;
}

#partners img
{
    border: 0;
}

ul#site_actions
{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 10em;
    white-space: nowrap;
}

ul#site_actions li
{
    display: inline;
}

ul#site_actions li a
{
    background-color: transparent;
    padding: 0em 1em 0em 1em;
    margin: 0;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

ul#site_actions li a:hover
{
    background-color: #00009D;
    color: white;
}

div#sidebar
{
    clear: both;
    float: left;
    width: 9em;
    padding-right: 1em; /* update left margin of content accordingly */
}

div#sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

div#sidebar ul li ul {
    display: list-item;
}

div#sidebar ul li label {
    font-weight: bold;
}

#time_period_selection
{
    font-size: 70%;
    margin-top: 0.5em;
    float: right;
}

#time_period_links
{
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline;
}

#time_period_links li
{
    display: inline;
}

#time_period_links li:after
{
    content: ' *';
}

#time_period_selection a
{
    color: black;
    font-weight: normal;
    text-decoration: underline;
}

#time_period_selection a:hover
{
    text-decoration: none;
}

#advanced_time_box
{
    font-size: 12pt;
    position: absolute;
    width: 12em;
    right: 1em;
    top: 11em;
    z-index: 1;
}

div#advanced_time
{
    position: relative;
    background-color: white;
    border: 1px solid black;
    opacity: 0.8;
    padding: 0.5em;
}

div#advanced_time p
{
    margin: 0;
}

#content
{
    margin-top: 1em;
    margin-left: 10em; /* should be the width of the sidebar */
    padding-top: 1em;
    padding-left: 1em;
    border-left: 1px solid black;
}

#event_input_form
{
    max-width: 60em;
}

#add_group_form,
#add_category_form
{
    padding: 0.5em;
    border: 1px dotted black;
}

.invisibleclear
{
    clear: both;
    visibility: hidden; /* this will render the space empty */
    margin-top: -1em; /* this will get rid of the empty space */
}

/*************** INPUT FORMS ***************/
.input
{   
    font-family: sans-serif;
    margin-top: 1em;
    margin-bottom: 1em;
}

input
{
    border: 1px solid black;
    background-color: #eeeeee;
    font-size: 12px;
    padding: 2px;
    color: black;
}

select {
    border: 1px solid black;  
    color: black;
    font-size: 12px;
    background-color: #eeeeee;
    vertical-align: top;
}

textarea {
    border: 1px solid black;
    background-color: #eeeeee;
    font-size: 12px;
    padding: 2px;
    color: black;
    width: 40em;
}

input:focus, select:focus, textarea:focus {
    background-color: #00009D;
    color: white;
}

.input .description
{
    margin: 0.2em 0 0.3em 0;
    font-size: 65%;
    color: #aaaaaa;
}

div.input:hover > div.description
{
    color: #00009D;
}

.input label
{
    font-size: 90%;
    display: block;
    font-weight: bold;
}

/************************ SELECTORS *******************/

div.selector
{
    float: left;
    width: 18em;
    margin: 0;
    padding: 0 1em 0 1em;
    border-right: 1px solid black;
}

div.selector_content
{   
    height: 20em;
    overflow: auto;
    margin: 0.5em 0em 1em 0em;
    padding: 0;
}

div.selector > div.selector_name
{
    height: 2.5em;
    margin: 0;
    padding: 0;
}

div.selector > div.selector_name > h3
{
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-size: 100%;
    margin-top: 0;
    border-top: 3px solid black;
    border-bottom: 1px solid black;
    text-align: center;
}

.selector ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.selector li
{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.selector li a
{
    font-weight: bold;
}

.selector div.prefix_time
{
    font-weight: bold;
    font-size: 80%;
    display: none;
}

.selector div.time {
    font-weight: bold;
    font-size: 80%;
}

.selector span.link_more a
{
    color: #000;
}

/******************* HEADLINE SELECTOR SPECIFIC ********************/

div.selector#headlines
{
    width: auto;
    float: none;
    display: block;
    border: none;
}

div.selector#headlines div.selector_content
{
    height: auto;
    overflow: auto;
}

div.selector#headlines div.prefix_time
{
    display: block;
    float: left;
    font-weight: normal;
    margin-top: 0.5em;
    width: 7em;
    color: #333333;
}

div.selector#headlines div.time
{
    display: none;
}
div.selector#headlines div.description
{
    display: none;
}

div.selector#headlines div.title a
{
    color: black;
    font-size: 130%;
    font-weight: bold;
    text-decoration: none;
}

div.selector#headlines div.title
{
    display: inline;
}

div.selector#headlines div.title a:hover
{
    text-decoration: underline;
}

/******************* ANNOUNCEMENT SELECTOR SPECIFIC ***********/

div.selector#all_announcements
{
    width: auto;
    float: none;
    display: block;
    border: none;
}

div.selector#all_announcements div.selector_name
{
    display: none;
}

div.selector#all_announcements div.selector_content
{
    height: 3em;
    overflow: auto;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

div.selector#all_announcements div.prefix_time,
div.selector#all_announcements div.time,
div.selector#all_announcements div.description
{
    display: none;
}

div.selector#all_announcements div.title a
{
    color: blue;
    font-size: 130%;
    font-weight: bold;
    text-decoration: none;
}

div.selector#all_announcements div.title
{
    display: inline;
}

div.selector#all_announcements div.title a:hover
{
    text-decoration: underline;
}

/****************** TABLE STUFF *********************/
table
{
    border-collapse: collapse;
    border: 1px solid black;
}

th
{
    background-color: #eeeeee;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    text-align: left;
    padding: 0.2em 0.5em 0.2em 0.5em;
}

tr
{
    border-bottom: 1px dotted black;
}

tr:hover
{
    background-color: #FFFFBB;
}

td
{
    text-align: left;
    padding: 0.2em 0.5em 0.2em 0.5em;
}


td.time_string
{
    font-size: 80%;
}

td.last_editor
{
    font-size: 80%;
}

ul.member_groups
{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

span.has_unauthorized_members,
li.has_unauthorized_members *
{
    color: red;
    font-weight: bold;
}

.pending_event
{
    background-color: #FFDDCC;
}

.history_action
{
    text-align: center;
}
/************** SHOW EVENT ******************/

.event_information > h2
{
    margin-bottom: 0.2em;
}

.event_information > div.last_update
{
    font-size: 80%;
    font-style: italic;
}

.event_information table
{
    width: 40em;
    margin: 1em 0 1em 0;
    border: 1px dotted black;
    background-color: white;
}

.event_information tr, 
.event_information th, 
.event_information td
{
    border: 0;
    background-color: transparent;
}

.event_information th
{
    white-space: nowrap;
    vertical-align: top;
}

.event_information td
{
    width: 100%;
}

.event_information .info_image
{
    padding: 2px;
    vertical-align: center;
}

tr.event_description td
{
    padding-top: 1em;
    padding-bottom: 1em;
}

/************** RANDOM STUFF ****************/

#version_tag
{
    margin-top: 1em;
    float: right;
}

#footer
{
    margin-top: 0.5em;
    border-top: 1px solid black;
    padding-top: 0.5em;
}

.ban_notice
{
    background-color: #FFDD62;
    border: 2px red solid;
    margin: 1em;
    padding: 0.5em;
}

.auth
{
    background-color: #FFDD62;
    border: 2px red solid;
    padding: 0.5em;
    margin: 1em;
}

.group_listing,
.user_listing,
.event_listing
{
    background-color: transparent;
    border: 2px transparent solid;
    padding: 0.5em;
    margin-top: 1em;
}

.group_listing h2,
.user_listing h2,
.event_listing h2
{
    margin-top: 0;
}

#not_approved_groups
{
    background-color: #FFDD62;
    border: 2px red solid;
}

#not_authorized_users
{
    background-color: #FFDD62;
    border: 2px red solid;
}

#bug_box
{
    background-color: #FFDD62;
    border: 2px red solid;
    padding: 0.2em;
    margin-bottom: 1em;
}

#bug_box big
{
    font-weight: bold;
}

img.date_select
{
    vertical-align: middle;
    margin-bottom: 3px;
}

#period_display
{
    margin: 0;
    margin-left: 1em;
    margin-bottom: 0.5em;
}

/*********CREDITS*********/
div.ninja{
    min-height: 175px;
}

div.ninja_name{
    color: black;
    font-size: 130%;
    font-weight: normal;
    font-style: italic;
}

div.ninja_image{
    margin: 0.5em;
    float: left;
}

div.ninja_text{
    margin: 0.5em;
}

/*********ERROR MESSAGES***********/

#ErrorExplanation {
  background-color: #FFDD62;
  border: 2px red solid;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 1em;
  background-color: #FFDD62;
  width: 40em;
}

#ErrorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  margin: -7px;
}

#ErrorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#ErrorExplanation ul li {
  list-style: square;
}

/************** TOOLTIP ****************/

.tooltip 
{
    font: 12px Helvetica, Arial, sans-serif;
    border: solid 1px #666666;
    color: #333333;
    background-color: #ffffcc;
    max-width: 30em;
    padding: 2px;
    position: absolute;
    z-index: 100;
    display: none;
}

/*************** SELECTOR BUILDER ***********/
div#selector_creation
{
    float: left;
}

div.dragable_list
{
    float: left;
    width: 25em;
}

div.dragable_list h3
{
    font-family: sans-serif;
}

div.dragable_list ul
{
    list-style: none;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    /* min-height: 3em; */
    width: 25em;
    height: 2em;
}

div.dragable_list ul li {
    float: left;
    height: 1.3em;
    width: 20em;
    padding: 2px;
    padding-left: 5px;
    border: 1px solid #999999;
    background-color: white;
    margin: 2px;
}

div.dragable_list ul li div.action
{
    float: right;
    margin-left: 2px;
    margin-right: 2px;
}
div.dragable_list ul li div.action img
{
    vertical-align: middle;
}

div.dragable_list form
{
    display: inline;
    margin: 0;
}

ul#active_selectors li
{
    background-color: #698B69;
    color: white;
}

ul#available_selectors li
{
    background-color: #EEDC82;
}

#priority_list li
{
    background-color: #EEDC82;
    height: auto;
}

div#workspace_wrapper
{
    clear: both;
    padding-top: 2em;
}

div#selector_workspace
{
    border-top: 1px dotted black;
    padding: 0em;
    height: auto;
    width: auto;
}

div#selector_workspace h2
{
    font-family: sans-serif;
}

div.list_container
{
    height: auto;
    clear: both;
}

ul.association_list
{
    list-style: none;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    width: 30em;
    height: 7em;
}
ul.association_list li {
    float: left;
    width: 10em;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #999999;
    background-color: white;
    margin: 2px;
}

ul.association_list li div.name_boundary
{
    overflow: hidden;
    vertical-align: center;
    height: 2.6em;
}

div.list_available_associations
{
   float:left;
   margin: 0em;
   width: 30em;
}

div.list_active_associations
{
   float: left;
   margin: 0em;
   width: 30em;
}

div.list_available_associations li
{
    background-color: #EEDC82;
}

div.list_active_associations li
{
    background-color: #698B69;
    color: white;
}

div.list_available_associations h4,
div.list_active_associations h4
{
    font-family: sans-serif;
}

div#message_container
{
    min-height: 2em;
}

div#message_container p
{
    border: 1px solid red;
    color: blue;
    padding: 0.2em;
}

div.usage_hint
{
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: sans-serif;
}

div#priority_new
{
    float: right;
}

/*********** CONTEXT HELP ****************/
.help_container
{
    font: 12px Helvetica, Arial, sans-serif;
    border: solid 1px #666666;
    color: #333333;
    background-color: #ffffcc;
    width: 300px;
    padding: 2px;
    position: absolute;
    z-index: 100;
    display: none;
}

.help_link
{
    margin-right: 30px;
    float: right;
}

#help_close a
{
    float: right;
    margin-top: 5px;
    margin-right: 1em;
    font-size: 9pt;
    color: #444;
}

#help_close a:hover
{
    text-decoration: none;
}

#help_close img
{
    vertical-align: top;
    margin-top: 1px;
}

#help_content
{
    margin: 2em 0.5em 0.5em 0.5em;
}
