/************** TOOLTIP ****************/

.tooltip 
{
    font: 12px Helvetica, Arial, sans-serif;
    border: solid 1px #666666;
    color: #333333;
    background-color: #ffffcc;
    max-width: 30em;
    padding: 2px;
    position: absolute;
    z-index: 100;
    display: none;
}

/*********** CONTEXT HELP ****************/
div.context_help
{
    margin-right: 30px;
    float: right;
}

div.context_help a img
{
    border: none;
}

div.context_help #help_container
{
    font: 12px Helvetica, Arial, sans-serif;
    border: solid 1px #666666;
    color: #333333;
    background-color: #ffffcc;
    width: 300px;
    padding: 2px;
    position: absolute;
    z-index: 100;
    display: none;
}

div.context_help #help_container #help_close a
{
    float: right;
    margin-top: 5px;
    margin-right: 1em;
    font-size: 9pt;
    color: #444;
    text-decoration: none;
}

div.context_help #help_container #help_close a:hover
{
    text-decoration: none;
}

div.context_help #help_container #help_close a img
{
    border: none;
}

div.context_help #help_container #help_close img
{
    vertical-align: top;
    margin-top: 1px;
}

div.context_help #help_container #help_content
{
    margin: 2em 0.5em 0.5em 0.5em;
}
