<div id="display_groups">
<%= render :partial => "layouts/paginate_links", :locals => {:item => @groups_pages} %>
<table>
  <% for group in @groups %>
    <tr>
      <td><%= link_to group.name, :controller => 'groups', :action => 'show', :id => group %></td>
      <td><%=h group.description %></td>
    </tr>
  <% end %>
</table>

<%= render :partial => "layouts/paginate_links", :locals => {:item => @groups_pages} %>
</div>
