<h1>
  <%=h @group.name %>
</h1>
<p>
  <strong>Description:</strong><br/>
</p>
  <%= simple_format(@group.description) %>

<p>
  Class: <%=h @group.group_class.name %>
</p>
<h3>History</h3>
<%= render_component :controller => "groups", :action => "history", :id =>
@group.id %>
