<h1>
  <%=h @group.name %>
</h1>
<p>
  <%=h @group.description %>
</p>

<p>
  Class: <%=h @group.group_class.name %>
</p>
<% if @group.users.include? @session[:user] %>
<%= link_to 'Edit', :action => 'edit', :id => @group %> 
<% end %>
