<select id="event_categories" name="event[categories][]" size="5" multiple="multiple">
  <%= options_from_collection_for_select @categories, 'id', 'name', @event.categories.collect { |x| x.id } %>
</select>
