<div id="period_display">
  <small>Events From <%= @period[:startTime].strftime('%A, %b %d %Y') %> to <%= @period[:endTime].strftime('%A, %b %d %Y') %></small>
</div>
<div id="selector_container">
<% for selector in @selectors %>
  <%= render_component :controller => "selectors", :action => "events", :id => selector.id, :params => {:period => @params[:period]} %>
<% end %>
</div>
