<h1>New event</h1>
<!-- DHTML Date/Time Selector
(c) dynarch.com 2002-2005 / Author: Mihai Bazon
For latest version visit: http://www.dynarch.com/projects/calendar/
Distributed under GNU LGPL.  See http://gnu.org/licenses/lgpl.html for details-->
<%= start_form_tag :action => 'create' %>
  <%= render_partial "form" %>
  <%= submit_tag "Create" %>
<%= end_form_tag %>

<%= link_to 'Back', :action => 'list' %>
