<%= render :partial => './header' %>

This is a quick e-mail to let you know your account has been created at
<%= SITE_PATH %> with the following details:

    Full Name: <%= @user.fullname %>
    Login: <%= @user.login %>
    E-mail <%= @user.email %>
    Password <%= @user.user_password %>

<%= render :partial => './footer' %>
