Dear <%= @user.fullname %>,

This is a quick e-mail to let you know your account has been created at ___
with the following details:

    Full Name: <%= @user.fullname %>
    Login: <%= @user.login %>
    E-mail <%= @user.email %>
    Password <%= @user.user_password %>

Regards,


<%= ADMIN_CONTACT %>

