<%= render :partial => './header' %>

This is a quick e-mail to inform you that the group <%= @group.name %> has been accepted as an official group. 
You may now submit posts for said group as much as you want.

<%= render :partial => './footer' %>
