defaults: &defaults
  adapter: mysql
  #{db_prot}
  username: #{db_user}
  password: #{db_pass}
  
development:
  database: #{db_name}_dev
  <<: *defaults
  
test:
  database: #{db_name}_test
  <<: *defaults

production:
  database: #{db_name}
  <<: *defaults
