$KCODE = 'u'
require 'jcode'

# TigerEvents Version String
TE_VERSION = '0.6.1'
TE_PATH = '#{te_path}'

# selector cache settings
# expiry time in seconds
EXPIRY_TIME = 300

# Administrator Contact Information
ADMIN_CONTACT = '#{admin_name}'
ADMIN_EMAIL = '#{admin_email}'

# AUTH_TYPE defines where users authenticate from.
# ldap - an ldap server defined by the ldap settings
# sql - an sql server
AUTH_TYPE = '#{auth_type}'

#LDAP settings
LDAP_USE_SSL = #{ldap_use_ssl}
LDAP_URL = '#{ldap_url}'
LDAP_PORT = #{ldap_port}
LDAP_DN = '#{ldap_dn}'
LDAP_START_TLS = #{ldap_start_tls} 

#LDAP variable settings
LDAP_DISPLAY_NAME = '#{ldap_displayname}'
LDAP_EMAIL_ADDRESS = '#{ldap_email}'

# This variable holds the relative or absolute URL through which
# authentication should be passes. Set this to the address of the 'login'
# action in the 'account' controller on your preferably secure server, e.g.
# 'https://www.foobar.com/account/login'. If you do not have a separate
# secure server or your complete site is served through a secure server you
# can leave this value untouched.
LOGIN_URL = '/account/login'
