CREATE DATABASE IF NOT EXISTS #{db_name};
GRANT ALL ON #{db_name}.* TO '#{db_user}'@'localhost' IDENTIFIED by '#{db_pass}';
GRANT ALL ON #{db_name}.* TO '#{db_user}'@'%' IDENTIFIED by '#{db_pass}';
FLUSH PRIVILEGES;

connect #{db_name};

#{db_tables}

INSERT INTO users (login, fullname, hashed_pass, superuser) VALUES ('#{admin_username}', '#{admin_name}', '#{admin_password}', 1);
