body
{
    margin: 1em;
    background-image: url(../images/background.png);
    background-color: white;
    font-family: "Times New Roman", serif;
    font-size: 10pt;
    color: black;
}

#site_logo
{
    background: url(../images/generic-logo.png) no-repeat;
    border: 0;
    padding: 0;
    margin-bottom: 0.2em;
}

/* Stole this hack from the standard Plone stylesheet */
#site_logo a
{
    display: block;
    text-decoration: none;
    overflow: hidden;
    border: 0;
    margin: 0;
    padding: 0;
    padding-top: 79px;
    height: 0px !important;
    height /**/: 79px;
    width: 520px;
    cursor: pointer;
}    

#today
{
    float: right;
}

#partners
{
    margin-top: 1.5em;
    float: right;
}

#partners img
{
    border: 0;
}

ul#site_actions
{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 10em;
    white-space: nowrap;
}

ul#site_actions li
{
    display: inline;
}

ul#site_actions li a
{
    background-color: transparent;
    padding: 0em 1em 0em 1em;
    margin: 0;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

ul#site_actions li a:hover
{
    background-color: #00009D;
    color: white;
}

div#sidebar
{
    clear: both;
    float: left;
    width: 9em;
    padding-right: 1em; /* update left margin of content accordingly */
}

div#sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

div#sidebar ul li ul {
    display: list-item;
}

div#sidebar ul li label {
    font-weight: bold;
}

div#sidebar ul#site_management
{
	list-style: none;
	padding: 0em;
	margin: 0.5em 0 0.2em 0.5em;
}

#time_period_selection
{
    font-size: 70%;
    margin-top: 0.5em;
    float: right;
}

#time_period_links
{
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline;
}

#time_period_links li
{
    display: inline;
}

#time_period_links li:after
{
    content: ' *';
}

#time_period_selection a
{
    color: black;
    font-weight: normal;
    text-decoration: underline;
}

#time_period_selection a:hover
{
    text-decoration: none;
}

#advanced_time_box
{
    font-size: 12pt;
    position: absolute;
    width: 12em;
    right: 1em;
    top: 11em;
    z-index: 1;
}

div#advanced_time
{
    position: relative;
    background-color: white;
    border: 1px solid black;
    opacity: 0.8;
    padding: 0.5em;
}

div#advanced_time p
{
    margin: 0;
}

div#topbar
{
    position: absolute;
    width: 100%;
    padding: 0em;
    margin-left: -1em;
    z-index: 100;
}

div#adminnav
{
    margin-left: 7em;
    margin-right: 7em;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid transparent;
}

div#adminnav li
{
    display: inline;
}
#content
{
    margin-top: 1em;
    margin-left: 10em; /* should be the width of the sidebar */
    padding-top: 1em;
    padding-left: 1em;
    border-left: 1px solid black;
}

#event_input_form
{
    max-width: 60em;
}

#add_group_form,
#add_category_form
{
}


