<%= render :partial => 'shared/paginate_links', :locals => {:item => @categories_pages} %>
<table>
  <% for category in @categories %>
    <tr>
      <td><%= link_to category.name, :controller => 'categories', :action \
      => 'show', :id => category.id %></td>
    </tr>
  <% end %>
</table>

<%= render :partial => 'shared/paginate_links', :locals => {:item => @categories_pages} %>
