<div class="input">
  <label for="category_name">Category Name:</label>
  <div class="description">
    Enter the name of the category. This name will be used to categorize
		events.
  </div>
  <%= text_field 'category', 'name', :onkeypress => "return enter('category_submit', event);" %>
</div>
