<% tag_cloud(@tagged_items, %w(x-small small medium large x-large)) do |tag, font_size| %>
  <span style="font-size: <%= font_size %>">
    <%= link_to_if tag, tag, :controller => 'categories', :action => 'show', :name => tag %>
  </span>
<% end %>
