<h1><a href="howto">HELP ME! - A guide to using Tiger Events</a></h1>

<h1>Contact Info</h1>
<p>
  If you have any questions about the system or just need to get a hold of us
  please contact us through 
  <a href="javascript:mail('dal-acm.ca', 'dev')">email</a>. 
</p>
