<p><b>How to Use Tiger Events</b></p>

<p>Tiger Events is a web calendar of events designed for use by the
<%= ORGANIZATION_NAME %> to inform
its community about upcoming exciting events with YOUR help. Anyone may post an
upcoming event that they feel they need to share with others in an open, yet
organized forum. </p>

<p><a href="findevents">Finding Events</a></p>
<p><a href="postevents">Posting Events</a></p>
<p><a href="groupmanagement">Managing Groups</a></p>
