<div id="bug_box">
  <big>Problems? Doesn't work? Complicated?</big>
  <p>
    File a ticket and we will take care of it.
  </p>
  <a href="http://www.tigeronrails.com/tigerevents/newticket"><big>Click here!</big></a>
</div>
