<!-- default JavaScripts -->
<%= javascript_include_tag "browser_detect" %>
<%= javascript_include_tag "prototype" %>
<%= javascript_include_tag "scriptaculous" %>
<%= javascript_include_tag "calendar" %>
<%= javascript_include_tag "calendar-en" %>
<%= javascript_include_tag "calendar-setup" %>
<%= javascript_include_tag "behaviour" %>
<%= javascript_include_tag "tigerevents-functions" %>
<%= javascript_include_tag "tigerevents-behaviour" %>
