<div id="footer">
  <div id="version_tag">
    TigerEvents <%= TE_VERSION %>
  </div>
  <div id="footer_info">
    Developed by <%= link_to 'members', { :controller => 'content', :action => 'credits' } %> 
      of the <%= link_to "Dal-ACM", "http://www.dal-acm.ca" %>
  </div>
</div>
